In [46]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
from webdriver_manager.firefox import GeckoDriverManager
import pandas as pd
import time
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [47]:
executable_path = {'executable_path': GeckoDriverManager().install()}
browser = Browser('firefox', **executable_path, headless=False)

====== WebDriver manager ======
Current firefox version is 95.0.2
Get LATEST driver version for 95.0.2
Driver [C:\Users\matth\.wdm\drivers\geckodriver\win64\v0.30.0\geckodriver.exe] found in cache

In [48]:
#url = "https://www.linkedin.com/jobs/search?keywords=Data%20Analyst&location=Kansas%20City%2C%20MO&geoId=104061291&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0"

In [49]:
url = "https://www.linkedin.com/jobs/search?keywords=Data%20Analyst&position=1&pageNum=0"

In [50]:
search = ({"location_id": 1000, "city": "Kansas City, Missouri, United States"}
        , {"location_id": 1001, "city": "Austin, Texas, United States"}
        , {"location_id": 1002, "city": "Denver, Colorado, United States"}
        , {"location_id": 1003, "city": "Colorado Springs, Colorado, United States"}
        , {"location_id": 1004, "city": "Fayetteville, Arkansas, United States"}
        , {"location_id": 1005, "city": "Des Moines, Iowa, United States"}
        , {"location_id": 1006, "city": "Minneapolis, Minnesota, United States"}
        , {"location_id": 1007, "city": "San Francisco, California, United States"}
        , {"location_id": 1008, "city": "Portland, Oregon, United States"}
        , {"location_id": 1009, "city": "Seattle, Washington, United States"}
        , {"location_id": 1010, "city": "Raleigh, North Carolina, United States"}
        , {"location_id": 1011, "city": "Huntsville, Alabama, United States"}
        , {"location_id": 1012, "city": "Madison, Wisconsin, United States"}
        , {"location_id": 1013, "city": "Grand Rapids, Michigan, United States"}
        , {"location_id": 1014, "city": "San Jose, California, United States"}
        , {"location_id": 1015, "city": "Nashville, Tennessee, United States"}
        , {"location_id": 1016, "city": "Asheville, North Carolina, United States"}
        , {"location_id": 1017, "city": "Boise, Idaho, United States"}
        , {"location_id": 1018, "city": "Sarasota, Florida, United States"}
        , {"location_id": 1019, "city": "Washington, DC, United States"}
        , {"location_id": 1020, "city": "Charlotte, North Carolina, United States"}
        , {"location_id": 1021, "city": "Dallas, Texas, United States"}
        , {"location_id": 1022, "city": "Greenville, South Carolina, United States"}
        , {"location_id": 1023, "city": "Portland, Maine, United States"}
        , {"location_id": 1024, "city": "Salt Lake City, Utah, United States"}
        , {"location_id": 1025, "city": "Melbourne, Florida, United States"}
        , {"location_id": 1026, "city": "Phoenix, Arizona, United States"}
        , {"location_id": 1027, "city": "Boston, Massachusetts, United States"}
        , {"location_id": 1028, "city": "Albany, New York, United States"}
        , {"location_id": 1029, "city": "Lexington-Fayette, Kentucky, United States"}
        , {"location_id": 1030, "city": "Houston, Texas, United States"}
        , {"location_id": 1031, "city": "Winston-Salem, North Carolina, United States"}
        , {"location_id": 1032, "city": "Omaha, Nebraska, United States"}
        , {"location_id": 1033, "city": "Reno, Nevada, United States"}
        , {"location_id": 1034, "city": "San Antonio, Texas, United States"}
        , {"location_id": 1035, "city": "Fort Myers, Florida, United States"}
        , {"location_id": 1036, "city": "San Diego, California, United States"}
        , {"location_id": 1037, "city": "Pensacola, Florida, United States"}
        , {"location_id": 1038, "city": "Indianapolis, Indiana, United States"}
        , {"location_id": 1039, "city": "Cincinnati, Ohio, United States"}
        , {"location_id": 1040, "city": "Fort Wayne, Indiana, United States"}
        , {"location_id": 1041, "city": "Lansing, Michigan, United States"}
        , {"location_id": 1042, "city": "Jacksonville, Florida, United States"}
        , {"location_id": 1043, "city": "Manchester, New Hampshire, United States"}
        , {"location_id": 1044, "city": "Harrisburg, Pennsylvania, United States"}
        , {"location_id": 1045, "city": "Charleston, South Carolina, United States"}
        , {"location_id": 1046, "city": "Knoxville, Tennessee, United States"}
        , {"location_id": 1047, "city": "Hartford, Connecticut, United States"}
        , {"location_id": 1048, "city": "Lancaster, Pennsylvania, United States"}
        , {"location_id": 1049, "city": "Pittsburgh, Pennsylvania, United States"}
        , {"location_id": 1050, "city": "Kansas City, Missouri, United States"})

In [51]:
location_df = pd.DataFrame.from_dict(search)

In [52]:
browser.visit(url)
time.sleep(5)

browser.fill("location", search[6]["city"])
time.sleep(5)
browser.find_by_xpath('/html/body/div[1]/header/nav/section/section[2]/form/button').click()

In [53]:
html = browser.html
jobs_soup = soup(html, 'html.parser')

In [54]:
no_jobs = jobs_soup.find('span', class_='results-context-header__job-count').text
no_jobs_int = int(no_jobs.replace('+', '').replace(',', ''))

In [55]:
i = 2
while i <= int(no_jobs_int/25)+1:
    browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    i = i + 1
    try:
        browser.find_by_xpath('/html/body/div[1]/div/main/section[2]/button').click()
        time.sleep(2)
    except:
        pass
        time.sleep(2)

In [56]:
html = browser.html
jobs_soup = soup(html, 'html.parser')

In [57]:
job_list = jobs_soup.find('ul', class_='jobs-search__results-list')

In [58]:
jobs = job_list.find_all('li')

In [59]:
job_id= []
job_title = []
company_name = []
location = []
date = []
job_link = []

for job in jobs:
    try:
        job_id0 = job.div['data-row']
        job_id.append(job_id0)
    except:
        job_id.append("no id")
    try:
        job_title0 = job.find('h3', class_='base-search-card__title').get_text()
        job_title.append(job_title0.replace('\n', '').strip())
    except:
        job_title.append("no title")
    try:
    
        company_name0 = job.find('h4', class_='base-search-card__subtitle').get_text()
        company_name.append(company_name0.replace('\n', '').strip())
    except:
        company_name.append("no name")    

    try:

        location0 = job.find('span', class_='job-search-card__location').get_text()
        location.append(location0.replace('\n', '').strip())
    except:
        location.append("no location") 

    try:
        
        date0 = job.time['datetime']
        date.append(date0.replace('\n', '').strip())
    except:
        date.append("no date") 
            
    try:
        
        job_link0 = job.find('a', class_='base-card__full-link')['href']
        job_link.append(job_link0.replace('\n', '').strip())
    except:
        job_link.append("no link") 
        

    # except:
    #     pass

In [60]:
job_df = pd.DataFrame({'CompanyName': company_name, 'JobTitle': job_title, 'Location': location, 'DateListed': date, 'JobLink': job_link, 'LocationSearch': search[6]["city"]}, index=job_id)

In [61]:
job_df

,CompanyName,JobTitle,Location,DateListed,JobLink,LocationSearch
1,Lifescale Analytics,Data Analyst (Must be US Citizen),"Minneapolis, MN",2021-12-23,https://www.linkedin.com/jobs/view/data-analys...,"Minneapolis, Minnesota, United States"
2,ThreeBridge Solutions (merging with Turnberry ...,Data Analyst Associate,"Minneapolis, MN",2021-12-16,https://www.linkedin.com/jobs/view/data-analys...,"Minneapolis, Minnesota, United States"
3,Blue Cross and Blue Shield of Minnesota,Data Analyst,"Eagan, MN",2021-11-12,https://www.linkedin.com/jobs/view/data-analys...,"Minneapolis, Minnesota, United States"
4,Children's Minnesota,Healthcare Data Analyst - Sign-on Bonus Eligible,"Edina, MN",2021-11-18,https://www.linkedin.com/jobs/view/healthcare-...,"Minneapolis, Minnesota, United States"
5,EAB,Associate Data Analyst,"Minneapolis, MN",2021-12-17,https://www.linkedin.com/jobs/view/associate-d...,"Minneapolis, Minnesota, United States"
6,SeQuel Response,Data Analyst,"Eden Prairie, MN",2021-12-03,https://www.linkedin.com/jobs/view/data-analys...,"Minneapolis, Minnesota, United States"
7,UnitedHealthcare,Data Analyst 2 - Telecommute,"Minnetonka, MN",2021-12-16,https://www.linkedin.com/jobs/view/data-analys...,"Minneapolis, Minnesota, United States"
8,UnitedHealthcare,Data Analyst 2 - Telecommute,"Minnetonka, MN",2021-12-15,https://www.linkedin.com/jobs/view/data-analys...,"Minneapolis, Minnesota, United States"
9,UnitedHealthcare,"Data Analyst - Minnetonka, MN or Telecommute","Minnetonka, MN",2021-11-13,https://www.linkedin.com/jobs/view/data-analys...,"Minneapolis, Minnesota, United States"
10,Optum,"Data Analyst, Member Experience - MN or Teleco...","Eden Prairie, MN",2021-11-22,https://www.linkedin.com/jobs/view/data-analys...,"Minneapolis, Minnesota, United States"
11,Horizontal Talent,Data Analyst,"Minneapolis, MN",2021-12-23,https://www.linkedin.com/jobs/view/data-analys...,"Minneapolis, Minnesota, United States"
12,Bare Home,Digital Data Analytics Analyst,Greater Minneapolis-St. Paul Area,2021-12-20,https://www.linkedin.com/jobs/view/digital-dat...,"Minneapolis, Minnesota, United States"
13,Crunchbase,Data Analyst,"Minneapolis, MN",2021-12-16,https://www.linkedin.com/jobs/view/data-analys...,"Minneapolis, Minnesota, United States"
14,ICONMA,Data Analyst I,"St Paul, MN",2021-09-11,https://www.linkedin.com/jobs/view/data-analys...,"Minneapolis, Minnesota, United States"
15,Prime Therapeutics,Health Data Analyst,"Minneapolis, MN",2021-12-20,https://www.linkedin.com/jobs/view/health-data...,"Minneapolis, Minnesota, United States"
16,College Possible,Data Analyst,"Minneapolis–Saint Paul, MN",2021-11-26,https://www.linkedin.com/jobs/view/data-analys...,"Minneapolis, Minnesota, United States"
17,Philips,Data Analyst,"Minneapolis, MN",2021-11-18,https://www.linkedin.com/jobs/view/data-analys...,"Minneapolis, Minnesota, United States"
18,UnitedHealthcare,Data Analyst - Telecommute (Nationwide),"Minnetonka, MN",2021-11-20,https://www.linkedin.com/jobs/view/data-analys...,"Minneapolis, Minnesota, United States"
19,Inspire11,Data Analyst,"Minneapolis, MN",2021-12-03,https://www.linkedin.com/jobs/view/data-analys...,"Minneapolis, Minnesota, United States"
20,Dahl Consulting,Healthcare Data Analyst,"Minnetonka, MN",2021-12-10,https://www.linkedin.com/jobs/view/healthcare-...,"Minneapolis, Minnesota, United States"
21,Aon,Data Analyst,"Bloomington, MN",2021-12-16,https://www.linkedin.com/jobs/view/data-analys...,"Minneapolis, Minnesota, United States"
22,Sleep Number LABS,"Analyst, Data Analytics (Remote)","Minneapolis, MN",2021-12-07,https://www.linkedin.com/jobs/view/analyst-dat...,"Minneapolis, Minnesota, United States"
23,Disability Solutions,Data Analyst - AWM Lake,"Minneapolis, MN",2021-12-23,https://www.linkedin.com/jobs/view/data-analys...,"Minneapolis, Minnesota, United States"
24,Target,Network Insights Analyst,"Brooklyn Park, MN",2021-12-07,https://www.linkedin.com/jobs/view/network-ins...,"Minneapolis, Minnesota, United States"
25,Feed My Starving Children,Data Analyst,"Eagan, MN",2021-12-07,https://www.linkedin.com/jobs/view/data-analys...,"Minneapolis, Minnesota, United States"

In [62]:
jd = []
title = []
company = []
location_2 = []

for item in range(len(jobs)):
    # clicking job to view job details
    try:
        job_click_path = f'/html/body/div[1]/div/main/section[2]/ul/li[{item+1}]/div/a'
        job_click = browser.find_by_xpath(job_click_path).click()
        time.sleep(1)
    except:
        pass
    jd_path = '/html/body/div[1]/div/section/div[2]/div[1]/section[1]/div/div[2]'
    jd_path2 = '.show-more-less-html__markup'
    show_more = 'Show More'
    
    try: 

        browser.find_by_css(".show-more-less-html__button--more").click()
        time.sleep(1)
        jd0 = browser.find_by_css(jd_path2).text
        jd.append(jd0)
    except:
        jd.append("Job Description Not Availalbe")
    try: 

        job_title_path = '/html/body/div[1]/div/section/div[2]/section/div/div[1]/div/a/h2'
        title0 = browser.find_by_xpath(job_title_path).text
        title.append(title0)
    except:
        title.append("Job Title Not Availalbe")        
    try: 

        company_path = '/html/body/div[1]/div/section/div[2]/section/div/div[1]/div/h4/div[1]/span[1]/a'
        company0 = browser.find_by_xpath(company_path).text
        company.append(company0)
    except:
        company.append("Job Company Not Availalbe")
    try: 

        location_path = '/html/body/div[1]/div/section/div[2]/section/div/div[1]/div/h4/div[1]/span[2]'
        location0 = browser.find_by_xpath(location_path).text
        location_2.append(location0)
    except:
        location_2.append("Job Location Not Availalbe")

In [63]:
job_df2 = pd.DataFrame({'Company': company, 'Location': location_2, 'JobTitle': title, "JobDesc": jd})
job_df2

,Company,Location,JobTitle,JobDesc
0,Lifescale Analytics,"Minneapolis, MN",Data Analyst (Must be US Citizen),"At Lifescale Analytics, we help achieve data-d..."
1,ThreeBridge Solutions (merging with Turnberry ...,"Minneapolis, MN",Data Analyst Associate,Overview: Crew helps our clients deliver chang...
2,Blue Cross and Blue Shield of Minnesota,"Eagan, MN",Data Analyst,About Blue Cross\n\nBlue Cross and Blue Shield...
3,Children's Minnesota,"Edina, MN",Healthcare Data Analyst - Sign-on Bonus Eligible,About Children’s Minnesota\n\nChildren’s Minne...
4,EAB,"Minneapolis, MN",Associate Data Analyst,"About EAB\n\nAt EAB , our mission is to make e..."
5,,,,Job Description Not Availalbe
6,UnitedHealthcare,"Minnetonka, MN",Data Analyst 2 - Telecommute,UnitedHealthcare is a company that's on the ri...
7,,,,Job Description Not Availalbe
8,UnitedHealthcare,"Minnetonka, MN","Data Analyst - Minnetonka, MN or Telecommute",UnitedHealthcare is a company that's on the ri...
9,Optum,"Eden Prairie, MN","Data Analyst, Member Experience - MN or Teleco...",Combine two of the fastest-growing fields on t...
10,Horizontal Talent,"Minneapolis, MN",Data Analyst,Projects the candidate will be working on:\nTh...
11,,,,Job Description Not Availalbe
12,Crunchbase,"Minneapolis, MN",Data Analyst,About Crunchbase\n\nCrunchbase helps over 70 m...
13,,,,Job Description Not Availalbe
14,Prime Therapeutics,"Minneapolis, MN",Health Data Analyst,Our work matters. We help people get the medic...
15,College Possible,"Minneapolis–Saint Paul, MN",Data Analyst,"College Possible National Office in St. Paul, ..."
16,Philips,"Minneapolis, MN",Data Analyst,"Effective Wednesday, December 8, 2021, all U.S..."
17,,,,Job Description Not Availalbe
18,Inspire11,"Minneapolis, MN",Data Analyst,Turn it up to 11 as a Data Consultant! \n\nDo ...
19,,,,Job Description Not Availalbe
20,Aon,"Bloomington, MN",Data Analyst,Responsibilities\n\nAon Is Looking for a Data ...
21,,,,Job Description Not Availalbe
22,Disability Solutions,"Minneapolis, MN",Data Analyst - AWM Lake,Job DescriptionServe as a conduit to the organ...
23,Target,"Brooklyn Park, MN",Network Insights Analyst,Description\n\nAbout us:\n\nTarget is one of t...
24,Feed My Starving Children,"Eagan, MN",Data Analyst,Your Role:\n\nResponsible for production plann...

In [64]:
new_df = job_df.merge(job_df2,  left_on=['CompanyName', 'JobTitle', 'Location'], right_on=['Company', 'JobTitle', 'Location'])

In [65]:
engine = create_engine(f"postgresql://postgres:FinalProject2021!@finalproject.cmaigqkcfkxs.us-east-2.rds.amazonaws.com:5432/FinalProject")
new_df.to_sql(name='jobs', con=engine, index=False, if_exists="append")

In [66]:
browser.quit()